# imports

In [1]:
import pandas as pd
import numpy as np

# load datasets

In [2]:
transactions_df = pd.read_csv('csv_files/transactions_data_south_africa.csv')
mcc_code_df = pd.read_csv('csv_files/mcc_codes.csv')
fraud_labels_df =  pd.read_csv('csv_files/train_fraud_labels.csv')
user_df =  pd.read_csv('csv_files/user_data_south_africa.csv')
cards_df = pd.read_csv('csv_files/cards_data_south_africa.csv')

Display loaded data

In [3]:
display(transactions_df.head(), 
cards_df.head(),
mcc_code_df.head(),
user_df.head(),
fraud_labels_df.head())

,id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,mcc,errors
0,7475327,2022-02-19 05:51:55,1556,2972,-1386.00,Swipe Transaction,59935,Kimberley,Northern Cape,8300.0,5499.0,NaN
1,7475328,2023-01-13 02:58:58,561,4575,262.26,Swipe Transaction,67570,Pietermaritzburg,KwaZulu-Natal,3200.0,5311.0,NaN
2,7475329,2024-07-03 23:41:24,1129,102,1440.00,Swipe Transaction,27092,Port Elizabeth,Eastern Cape,6000.0,4829.0,NaN
3,7475331,2022-06-12 09:33:41,430,2860,3600.00,Swipe Transaction,27092,Bloemfontein,Free State,9300.0,4829.0,NaN
4,7475332,2023-08-26 10:05:48,848,3915,835.38,Swipe Transaction,13051,Polokwane,Limpopo,700.0,5813.0,NaN

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,4524,825,Mastercard,Debit,5561765976957072,04/2025,623,YES,2,437310,09/2002,2008,No
1,2731,825,Mastercard,Debit,5681404028657264,08/2025,393,YES,2,395424,04/2014,2014,No
2,3701,825,Visa,Debit,4715119191099084,08/2025,719,YES,2,835452,07/2003,2004,No
3,42,825,Visa,Credit,4133211808921544,12/2026,693,NO,1,223200,01/2003,2012,No
4,4659,825,Mastercard,Prepaid,5469974597438641,10/2026,75,YES,1,504,09/2008,2009,No

   mcc_code                           description
0      5812         Eating Places and Restaurants
1      5541                      Service Stations
2      7996  Amusement Parks, Carnivals, Circuses
3      5411          Grocery Stores, Supermarkets
4      4784                 Tolls and Bridge Fees

,id,current_age,retirement_age,birth_year,birth_month,gender,address,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,825,53,66,1966,11,Female,"126 Main Road, Durban",527004,1074528,2297034,787,5
1,1746,53,68,1966,12,Female,"254 Van der Merwe Avenue, Cape Town",682038,1390572,3444282,701,5
2,1718,81,67,1938,11,Female,"856 King George Street, Pietermaritzburg",408258,602694,3528,698,5
3,708,63,63,1957,1,Female,"565 Pretoria Street, Durban",2936610,4498650,3641904,722,4
4,1164,43,70,1976,9,Male,"269 Swart Street, Pretoria",968346,1974366,3309390,675,1

   transaction_id is_fraud
0        10649266       No
1        23410063       No
2         9316588       No
3        12478022       No
4         9558530       No

Column name standardization

In [3]:
transactions_df = transactions_df.rename(columns={"id": "transaction_id"})
cards_df = cards_df.rename(columns={"id": "card_id"})
mcc_code_df = mcc_code_df.rename(columns={"mcc_code": "mcc"})
user_df = user_df.rename(columns={"id": "client_id"})

Displaying The standardized dataset

In [ ]:
display(transactions_df.head(), 
cards_df.head(),
mcc_code_df.head(),
user_df.head(),
fraud_labels_df.head())

In [4]:
# mcc in transcations_df corresponds to mcc_code in mcc_code_df

mcc_code_df['mcc'] = mcc_code_df['mcc'].astype(float)
mcc_code_df

        mcc                           description
0    5812.0         Eating Places and Restaurants
1    5541.0                      Service Stations
2    7996.0  Amusement Parks, Carnivals, Circuses
3    5411.0          Grocery Stores, Supermarkets
4    4784.0                 Tolls and Bridge Fees
..      ...                                   ...
104  7549.0                       Towing Services
105  5941.0                 Sporting Goods Stores
106  5722.0            Household Appliance Stores
107  3009.0  Fabricated Structural Metal Products
108  5733.0    Music Stores - Musical Instruments

[109 rows x 2 columns]

# Merging

In [ ]:
df = pd.merge(transactions_df, cards_df, how='left', on=['card_id', 'client_id'])

,transaction_id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web
0,7475327,2022-02-19 05:51:55,1556,2972,-1386.00,Swipe Transaction,59935,Kimberley,Northern Cape,8300.0,...,Prepaid,4155851339932589,07/2025,306,YES,2,990,05/2008,2008,No
1,7475328,2023-01-13 02:58:58,561,4575,262.26,Swipe Transaction,67570,Pietermaritzburg,KwaZulu-Natal,3200.0,...,Credit,5907662885505649,07/2026,438,YES,1,163800,09/2005,2015,No
2,7475329,2024-07-03 23:41:24,1129,102,1440.00,Swipe Transaction,27092,Port Elizabeth,Eastern Cape,6000.0,...,Debit,4733501655657995,10/2026,256,YES,1,266436,01/2006,2008,No
3,7475331,2022-06-12 09:33:41,430,2860,3600.00,Swipe Transaction,27092,Bloemfontein,Free State,9300.0,...,Debit,4194472594023740,11/2026,54,NO,2,677412,05/2004,2006,No
4,7475332,2023-08-26 10:05:48,848,3915,835.38,Swipe Transaction,13051,Polokwane,Limpopo,700.0,...,Debit,4969200944415115,01/2025,120,YES,1,344034,07/2009,2014,No

In [6]:
df = df.merge(mcc_code_df, how="left", on='mcc')

,transaction_id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,acct_open_date,year_pin_last_changed,card_on_dark_web,description
0,7475327,2022-02-19 05:51:55,1556,2972,-1386.00,Swipe Transaction,59935,Kimberley,Northern Cape,8300.0,...,4155851339932589,07/2025,306,YES,2,990,05/2008,2008,No,Miscellaneous Food Stores
1,7475328,2023-01-13 02:58:58,561,4575,262.26,Swipe Transaction,67570,Pietermaritzburg,KwaZulu-Natal,3200.0,...,5907662885505649,07/2026,438,YES,1,163800,09/2005,2015,No,Department Stores
2,7475329,2024-07-03 23:41:24,1129,102,1440.00,Swipe Transaction,27092,Port Elizabeth,Eastern Cape,6000.0,...,4733501655657995,10/2026,256,YES,1,266436,01/2006,2008,No,Money Transfer
3,7475331,2022-06-12 09:33:41,430,2860,3600.00,Swipe Transaction,27092,Bloemfontein,Free State,9300.0,...,4194472594023740,11/2026,54,NO,2,677412,05/2004,2006,No,Money Transfer
4,7475332,2023-08-26 10:05:48,848,3915,835.38,Swipe Transaction,13051,Polokwane,Limpopo,700.0,...,4969200944415115,01/2025,120,YES,1,344034,07/2009,2014,No,Drinking Places (Alcoholic Beverages)

In [7]:
df = df.merge(user_df, how='left', on='client_id')

,transaction_id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,retirement_age,birth_year,birth_month,gender,address,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,7475327,2022-02-19 05:51:55,1556,2972,-1386.00,Swipe Transaction,59935,Kimberley,Northern Cape,8300.0,...,67,1989,7,Female,"405 Pretoria Street, Johannesburg",426222,868986,1982754,740,4
1,7475328,2023-01-13 02:58:58,561,4575,262.26,Swipe Transaction,67570,Pietermaritzburg,KwaZulu-Natal,3200.0,...,67,1971,6,Male,"374 Voortrekker Road, Bloemfontein",325368,663354,2018502,834,5
2,7475329,2024-07-03 23:41:24,1129,102,1440.00,Swipe Transaction,27092,Port Elizabeth,Eastern Cape,6000.0,...,65,1970,4,Male,"146 Voortrekker Road, Gqeberha",304092,620082,657720,686,3
3,7475331,2022-06-12 09:33:41,430,2860,3600.00,Swipe Transaction,27092,Bloemfontein,Free State,9300.0,...,67,1967,5,Female,"573 Durban Road, East London",471024,960300,2316168,685,5
4,7475332,2023-08-26 10:05:48,848,3915,835.38,Swipe Transaction,13051,Polokwane,Limpopo,700.0,...,69,1968,5,Male,"944 Church Street, East London",603522,1230516,1731276,711,2

In [ ]:
df = df.merge(fraud_labels_df, how="left", on='transaction_id')

,transaction_id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,birth_year,birth_month,gender,address,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards,is_fraud
0,7475327,2022-02-19 05:51:55,1556,2972,-1386.00,Swipe Transaction,59935,Kimberley,Northern Cape,8300.0,...,1989,7,Female,"405 Pretoria Street, Johannesburg",426222,868986,1982754,740,4,No
1,7475328,2023-01-13 02:58:58,561,4575,262.26,Swipe Transaction,67570,Pietermaritzburg,KwaZulu-Natal,3200.0,...,1971,6,Male,"374 Voortrekker Road, Bloemfontein",325368,663354,2018502,834,5,No
2,7475329,2024-07-03 23:41:24,1129,102,1440.00,Swipe Transaction,27092,Port Elizabeth,Eastern Cape,6000.0,...,1970,4,Male,"146 Voortrekker Road, Gqeberha",304092,620082,657720,686,3,No
3,7475331,2022-06-12 09:33:41,430,2860,3600.00,Swipe Transaction,27092,Bloemfontein,Free State,9300.0,...,1967,5,Female,"573 Durban Road, East London",471024,960300,2316168,685,5,NaN
4,7475332,2023-08-26 10:05:48,848,3915,835.38,Swipe Transaction,13051,Polokwane,Limpopo,700.0,...,1968,5,Male,"944 Church Street, East London",603522,1230516,1731276,711,2,No

Check for duplicate

In [ ]:
df.duplicated().sum()

Check for missing values

In [ ]:
df.isnull().sum()

# Data Cleaning

impute mcc nulls (matches with other mcc ids)

In [9]:
missing_rows = df[df['mcc'].isna()]
missing_rows

,transaction_id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,birth_year,birth_month,gender,address,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards,is_fraud
12858753,23209467,2022-04-17 21:21:33,1384,3723,1014.48,Chip Transaction,22938,Kimberley,Northern Cape,8300.0,...,1946,1,Female,"490 Cape Road, Pietermaritzburg",405810,414198,549180,721,3,No

In [10]:
specific_rows = df[df['merchant_id'] == 22938]
specific_rows

,transaction_id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,birth_year,birth_month,gender,address,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards,is_fraud
186,7475538,2023-05-09 12:24:48,470,5097,122.94,Swipe Transaction,22938,Pretoria,Gauteng,1.0,...,1964,2,Male,"296 Church Street, Cape Town",252072,513954,1695852,747,3,No
536,7475953,2023-03-23 14:58:56,1735,3336,62.82,Swipe Transaction,22938,Bloemfontein,Free State,9300.0,...,1963,5,Male,"859 Pretoria Street, Durban",322956,658494,1013580,614,6,NaN
655,7476099,2023-08-28 16:16:26,1171,3237,121.50,Swipe Transaction,22938,Cape Town,Western Cape,8000.0,...,1929,12,Male,"518 Van der Merwe Avenue, Pietermaritzburg",474660,705852,0,781,5,NaN
919,7476423,2022-09-24 18:33:18,1209,3387,249.48,Swipe Transaction,22938,Polokwane,Limpopo,700.0,...,1974,6,Female,"998 Jan Smuts Avenue, East London",563382,1148670,86976,699,6,No
982,7476494,2022-11-22 03:41:02,683,5990,39.24,Swipe Transaction,22938,Johannesburg,Gauteng,2000.0,...,1959,1,Male,"648 Voortrekker Road, Cape Town",450558,918702,0,704,5,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12854874,23204712,2023-09-04 10:23:59,1842,5426,301.86,Chip Transaction,22938,Bloemfontein,Free State,9300.0,...,1974,10,Male,"964 King George Street, Cape Town",276930,564714,1052658,637,2,No
12854931,23204780,2022-04-26 00:07:30,1702,2755,509.40,Chip Transaction,22938,Nelspruit,Mpumalanga,1200.0,...,1967,2,Female,"924 Church Street, Gqeberha",357318,728460,1567548,691,5,No
12857012,23207342,2022-11-07 01:15:03,1881,359,185.76,Chip Transaction,22938,Port Elizabeth,Eastern Cape,6000.0,...,1952,9,Male,"641 Church Street, East London",401778,1017756,163746,733,6,No
12858314,23208949,2023-12-23 14:53:01,1746,3465,1483.56,Chip Transaction,22938,Johannesburg,Gauteng,2000.0,...,1966,12,Female,"254 Van der Merwe Avenue, Cape Town",682038,1390572,3444282,701,5,NaN
12858753,23209467,2022-04-17 21:21:33,1384,3723,1014.48,Chip Transaction,22938,Kimberley,Northern Cape,8300.0,...,1946,1,Female,"490 Cape Road, Pietermaritzburg",405810,414198,549180,721,3,No

Basic Preprocessing

In [ ]:
def basic_preprocessing(df):
    df = df.copy()
    # full date and time
    df['date'] = pd.to_datetime(df['date'], format="%Y-%m-%d %H:%M:%S")
    # month and year only
    df['expires'] = pd.to_datetime(df['expires'])
    # year, month, day only
    df['acct_open_date'] = pd.to_datetime(df['acct_open_date'])
    # fill missing values
    df['errors'] = df['errors'].fillna('no error')
    df['mcc'] = df['mcc'].fillna(5812)
    df['description'] = df['description'].fillna("Eating Places, Restaurants")
    df['merchant_state'] = df['merchant_state'].fillna("Unknown")
    df['zip'] = df['zip'].fillna(0)
    # absolute value for amount
    df['neg_amount'] = (df['amount']<0).astype(int)
    df['amount_sign'] = np.sign(df['amount'])
    df['amount_abs'] = df['amount'].abs()
    return df

df = basic_preprocessing(df)
df

C:\Users\Geeks2_PC41\AppData\Local\Temp\ipykernel_21652\636441606.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['expires'] = pd.to_datetime(df['expires'])
C:\Users\Geeks2_PC41\AppData\Local\Temp\ipykernel_21652\636441606.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['acct_open_date'] = pd.to_datetime(df['acct_open_date'])

,transaction_id,date,client_id,card_id,amount,use_chip,merchant_id,merchant_city,merchant_state,zip,...,birth_year,birth_month,gender,address,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards,is_fraud
0,7475327,2022-02-19 05:51:55,1556,2972,1386.00,Swipe Transaction,59935,Kimberley,Northern Cape,8300.0,...,1989,7,Female,"405 Pretoria Street, Johannesburg",426222,868986,1982754,740,4,No
1,7475328,2023-01-13 02:58:58,561,4575,262.26,Swipe Transaction,67570,Pietermaritzburg,KwaZulu-Natal,3200.0,...,1971,6,Male,"374 Voortrekker Road, Bloemfontein",325368,663354,2018502,834,5,No
2,7475329,2024-07-03 23:41:24,1129,102,1440.00,Swipe Transaction,27092,Port Elizabeth,Eastern Cape,6000.0,...,1970,4,Male,"146 Voortrekker Road, Gqeberha",304092,620082,657720,686,3,No
3,7475331,2022-06-12 09:33:41,430,2860,3600.00,Swipe Transaction,27092,Bloemfontein,Free State,9300.0,...,1967,5,Female,"573 Durban Road, East London",471024,960300,2316168,685,5,NaN
4,7475332,2023-08-26 10:05:48,848,3915,835.38,Swipe Transaction,13051,Polokwane,Limpopo,700.0,...,1968,5,Male,"944 Church Street, East London",603522,1230516,1731276,711,2,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12858749,23209463,2022-05-16 02:17:24,597,4540,126.00,Online Transaction,51397,ONLINE,Unknown,0.0,...,1948,1,Male,"499 Church Street, Gqeberha",930456,1170990,30168,736,6,No
12858750,23209464,2023-07-23 01:05:29,1508,3279,593.46,Chip Transaction,43293,Cape Town,Western Cape,8000.0,...,1953,4,Female,"495 Durban Road, Cape Town",344250,701982,1167750,747,4,NaN
12858751,23209465,2023-05-03 10:17:19,1727,4918,284.04,Online Transaction,18563,ONLINE,Unknown,0.0,...,1973,10,Female,"323 Main Road, East London",430506,877716,2577744,771,6,No
12858752,23209466,2022-05-15 15:12:30,467,4278,812.88,Chip Transaction,31893,Cape Town,Western Cape,8000.0,...,1981,9,Male,"280 Victoria Road, Pretoria",395784,806958,376308,705,3,NaN
12858753,23209467,2022-04-17 21:21:33,1384,3723,1014.48,Chip Transaction,22938,Kimberley,Northern Cape,8300.0,...,1946,1,Female,"490 Cape Road, Pietermaritzburg",405810,414198,549180,721,3,No

In [19]:
df.isnull().sum()

transaction_id                 0
date                           0
client_id                      0
card_id                        0
amount                         0
use_chip                       0
merchant_id                    0
merchant_city                  0
merchant_state                 0
zip                            0
mcc                            0
errors                         0
card_brand                     0
card_type                      0
card_number                    0
expires                        0
cvv                            0
has_chip                       0
num_cards_issued               0
credit_limit                   0
acct_open_date                 0
year_pin_last_changed          0
card_on_dark_web               0
description                    0
current_age                    0
retirement_age                 0
birth_year                     0
birth_month                    0
gender                         0
address                        0
per_capita_income              0
yearly_income                  0
total_debt                     0
credit_score                   0
num_credit_cards               0
is_fraud                 4243221
dtype: int64

In [20]:
# Save the cleaned dataframe to a new CSV file
df.to_csv('cleaned_full_transactions_data_south_africa.csv', index=False)